@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-gradient-custom1 {
    background: #164257;
    background-image: radial-gradient(circle, #2f6067 73%, #164257 100%);
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  html {
    margin: 0;
    padding: 0;
    background-color: aliceblue;

  }

  .bg-gradient-custom2 {
    background: #164257;
    background-image: radial-gradient(circle, #2f6067 73%, #164257 100%);
  }
}

button.bg-orange-500.text-white.px-2.py-1.rounded.mr-2 {
  background: burlywood;
}

button.bg-red-500.text-white.px-2.py-1.rounded {
  background: chocolate;
}

.p-4 {
  margin-top: 3rem;
  padding: 1rem;
  padding-bottom: 2rem;
  padding-top: 1.3rem;
}

.text-green-400 {
  --tw-text-opacity: 1;
  color: #3b888a;
}

.text-xl {
  font-size: 1.75rem;
  line-height: 1.75rem;
}